networks:
  app-net:
services:
  web-dev:
    restart: always
    build:
      context: ./
      dockerfile: web.Dockerfile
    ports:
      - "3000:3000"
    networks:
      - app-net
  api-dev:
    restart: always
    build:
      context: ./
      dockerfile: api.Dockerfile
    ports:
      - "1025:1025"
    depends_on:
      - mongodb-dev
    networks:
      - app-net
  cron-dev:
    restart: always
    build:
      context: ./
      dockerfile: cron.Dockerfile
    network_mode: host
    depends_on:
      - mongodb-dev
  mongodb-dev:
    image: mongo:8.0
    restart: always
    ports:
      - "27017:27017"
    networks:
      - app-net
    volumes:
      - mongodb_data:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}

volumes:
  mongodb_data: 